.powerstation {
    -fx-padding: 5;
    -fx-background-color: rgb(12, 12, 12);
    -base-color: rgb(2, 138, 204);
    -color-grey: rgb(221, 219, 219);
    -color-lightgrey: rgba(243, 243, 243, 0.73);
    -color-blue: rgb(73, 91, 115);
    -color-red: rgb(197, 160, 157);
    -color-yellow: rgb(192, 174, 154);
    -color-disabled: rgb(85, 85, 85);

}

.powerstation .frame {
    -fx-fill: -color-grey;
    -fx-border-radius: 30 3 3 3;
    -fx-background-radius: 30 3 3 3;
}

.powerstation .socket {
    -fx-fill: -color-grey;
}

.powerstation .boxTotal {
    -fx-fill: -color-lightgrey;
}

.powerstation .box1 {
    -fx-fill: -color-blue;
}

.powerstation .box2 {
    -fx-fill: -color-red;
}

.powerstation .box3 {
    -fx-fill: -color-yellow;
}

.powerstation .steckertyp {
    -fx-background-color: transparent;
    -fx-fill: transparent;
    -fx-stroke-width: 0.2px;
    -fx-stroke: -color-grey;
}

.powerstation .total {
    -fx-font: 5px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-text-alignment: center;
    -fx-font-size: 10.5px;
    -fx-font-weight: normal;
    -fx-font-style: normal;

}

.powerstation .display {
    -fx-font-family: 'Lato Light';
    -fx-font-size: 24;
    -fx-fill: derive(-base-color, 95%);
}


.powerstation .text-leistung {
    -fx-background-color: transparent;
    -fx-font-size: 5;
    -fx-pref-height: 14;
}
